<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyh.can.mapper.MenuMapper">
 <select id="fingpage"  parameterType="com.xyh.can.util.MenuVo" resultType="com.xyh.can.util.MenuVo" >
   SELECT c.id, c.`name`, m.m_Name,m.m_Price from cuisine c,menu m
      where
   c.id=m.m_Type  LIMIT #{start},#{rows}
 </select>
  <select id="count"  resultType="int" parameterType="com.xyh.can.util.MenuVo">
      SELECT  count(*) from cuisine c,menu m
    where
      c.id=m.m_Type
  </select>
    <update id="update">
           update menu
           <set>
               <if test="m_Type!=null and m_Type!=''"> `m_Type` = #{m_Type}, </if>
               <if test="m_Name!=null and m_Name!=''"> `m_Name` = #{m_Name}, </if>
               <if test="m_Photo!=null and m_Photo!=''"> `m_Photo` = #{m_Photo}, </if>
               <if test="m_Price!=null and m_Price!=''"> `m_Price` = #{m_Price}, </if>
               <if test="m_Price!=null and m_Price!=''"> `m_Price` = #{m_Price}, </if>
               <if test="m_Note!=null and m_Note!=''"> `m_Note` = #{m_Note}, </if>


           </set>
           <where>
            <if test="m_Id!=null and m_Id!=''">
                `m_Id` =#{m_Id};
            </if>
           </where>
    </update>
    <delete id="delete">
        DELETE FROM menu
        <where>
            <if test="value!=null and value!=''">
                `m_Id` =#{value};
            </if>
        </where>
    </delete>
    <delete id="deleteone" >
        DELETE cuisine ,menu  FROM cuisine  ,menu  WHERE
        id=m_Type and
        <if test="value!=null and value!=''">
            `id` =#{value};
        </if>

    </delete>
    <insert id="add" parameterType="com.xyh.can.entity.Menu">
        insert  into menu(m_Type,m_Name,m_Photo,m_Price,m_Note)values
        (#{m_Type},#{m_Name},#{m_Photo},#{m_Price},#{m_Note})
    </insert>


 <!--<resultMap id="shop" type="com.xyh.can.entity.Menu">
    <id column="m_Id" property="m_Id" />
    <result column="m_Name" property="m_Name"/>
    <result column="m_Price" property="m_Price"/>
     <association property="cuisine"  javaType="com.xyh.can.entity.Cuisine">
        <id column="id" property="id" />
        <result column="name" property="name"/>
     </association>
   </resultMap>-->
</mapper>